root{
    --red: crimson;
    --yellow:#FFD700;
    --white: whitesmoke;
    --green: #53BF9D;
}
/* to easily access the colors by using names only instead of codes */

body,h2{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

.landing{
    background-image: url('../media/im1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: whitesmoke;
}

header a{
    text-decoration: none;
    color: #FFD700;
    min-width:120px;

}
header{
    display:flex;
    flex-wrap: wrap;
    row-gap: 1em;
    padding:1em;

}

#logo{
    flex:3;
    font-size: 1.25em;
    min-width:260px;
}

nav{
    flex:2;
    display:flex;
    align-items: center;
}

nav a{
    flex:1;
}

nav a:hover{
    color:azure;
}

header i,nav a i{
    margin-right: .5em;
}

.maintext{
    display:flex;
    flex-direction:column;
    height:50vh;
    justify-content: center;
    padding:2em;
}

.tagline1{
    color:burlywood;
    
    font-size: 2.5em;
    font-weight: bolder;
}

.tagline2{
    color:skyblue;
    /* font-size: 1.5em;
     font-weight: bolder;  */
}

.maintext div{
    margin-top: .75em;
}

.maintext button{
    width: 20vw;
    margin-top: 2em;
    border-radius:10px;
    padding: .7em;
    background-color: goldenrod;
    color: white;
    border: 1px solid greenyellow;
}

/*.menu{
    display:grid;
    background: linear-gradient(to right, #808080, #000000);
    color:whitesmoke;
}*/

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 1em; 
    background: linear-gradient(to right, #808080, #000000);
    color: whitesmoke;
    padding: 1em;
}




#menuheading, #locheading{
    background: linear-gradient(to right, #808080, #000000);
    font-size:2.5em;
    color: black;
    display:flex;
    justify-content: center;
}

.menu th{
    color: greenyellow;
    font-size: 1.8em;
}

table{
    width:100%;
    padding:1em;
}

.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}

.menu td:nth-child(1){
    flex: 1;
    justify-self: left;
}

.menu td:nth-child(2){
    justify-self: right;
}

.maincourse{
    grid-row: span 2;
}

.locations{
    background: linear-gradient(to right, #808080, #000000);
    color:whitesmoke;
    display:flex;
    flex-wrap: wrap;
}

.locations h2{
    color:greenyellow;
    margin-bottom: .8em;
}

.locations div{
    flex:1;
    padding: 1em;
    min-width:220px;
}

footer{
    background-color: black;
    color:whitesmoke;
    padding:.25em 1em;
}
#copyright{
    margin-left:20px;
}
.social-menu ul{
    display: flex;
    padding:0;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
    
.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}